---
import { BASE_URL, MENU_DEFINITION } from '../../utils/share';
import { getLangFromUrl } from '../../i18n/utils';

const { currentPath } = Astro.props;
const lang = getLangFromUrl(Astro.url);

function isActive(path: string): boolean {
  return currentPath.includes(path);
}
---

<ul>
  {MENU_DEFINITION.map((item) => (
    <li class="group">
      <details class="" {item.children ? '' : 'open'}>
        <summary class="menu-list">
          <a
            href=`${BASE_URL}${lang}/${item.path.substring(1)}`
            class={`menu-item flex-1 ${isActive(item.path) ? 'text-indigo-400 font-semibold' : ''}`}
          >
            {item.label}
          </a>
          {item.children && (
            <svg
              class="w-4 h-4 ml-2 transition-transform group-open:rotate-90"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
          )}
        </summary>
        {item.children && (
          <ul class="pl-4">
            {item.children.map(child => (
              <li>
                <a
                  href=`${BASE_URL}${lang}/${child.path.substring(1)}`
                  class={`menu-item ${
                    isActive(child.path) ? 'text-indigo-400 font-semibold' : ''
                  }`}
                >
                  {child.label}
                </a>
              </li>
            ))}
          </ul>
        )}
      </details>
    </li>
  ))}
</ul>
