---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import ArticleCard from '../../../components/astro/ArticleCard.astro';
import { TOP_MENU } from '../../../utils/share';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const pages = await getCollection(TOP_MENU.articles);

  const paths = pages.map(page => {
    const [lang, year, ...slug] = page.slug.split('/');
	return { params: { lang, year, slug: slug.join('/') || undefined }, props: page };
  });

  return paths;
}

const { lang, year } = Astro.params;
const allEntries = await getCollection(TOP_MENU.articles);
const entries = allEntries
  .filter(entry => entry.id.startsWith(`${lang}/${year}/`))
  .sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
---

<BaseLayout>
  <section class="flex flex-col gap-6">
    {entries
      .sort((a, b) => a.slug - b.slug)
      .map(({ data, collection, slug }) => (
        <ArticleCard
          key={slug}
          title={data.title}
          collection={collection}
          slug={slug}
        />
      ))
    }
  </section>
</BaseLayout>

