---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArticleCard from '../../components/astro/ArticleCard.astro';
import { TOP_MENU, SUPPORTED_LANGS } from '../../utils/share';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  return SUPPORTED_LANGS.map(lang => ({ params: { lang } }));
}

const { lang } = Astro.params;
const contents = await getCollection(TOP_MENU.cheatsheets);
const filteredContents = contents.filter(
  (content) => content.slug.startsWith(lang),
);
---

<BaseLayout>
  <section class="flex flex-col gap-6">
    {filteredContents
      .sort((a, b) => a.slug - b.slug)
      .map(({ data, collection, slug }) => (
        <ArticleCard
          key={slug}
          title={data.title}
          pubDate={data.date}
          collection={collection}
          slug={slug}

          href={`/cheatsheets/${slug}`}
        />
      ))}
  </section>
</BaseLayout>

