---
import Header from './Header.astro';
import Footer from './Footer.astro';
import SidebarLeft from './SidebarLeft.astro';
import SidebarRight from './SidebarRight.astro';
import MainContainer from './MainContainer.astro';

import { BASE_URL } from '../utils/share';
import { getLangFromUrl } from '../i18n/utils';

import '../styles/global.css';

const lang = getLangFromUrl(Astro.url);
const { title = 'My Site', toc = null } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href=`${BASE_URL}favicon.png` />
    <title>{title}</title>
    <script>
      function initializeTheme() {
        const saved = localStorage.getItem('theme');
        if (saved === 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      }
	  initializeTheme();
    </script>
  </head>
  <body
    class="bg-gray-900 text-gray-100 antialiased"
    data-base-url={BASE_URL}
  >
    <!-- Left Sidebar Toggle -->
    <input type="checkbox" id="menu-toggle" class="peer absolute -top-20 opacity-0" />
    <!-- Header -->
    <header id="header" class="fixed inset-x-0 top-0 z-10 h-header transition-transform duration-300 peer-checked:translate-x-left-sidebar md:pl-left-sidebar-md md:peer-checked:translate-x-0">
      <Header title={title} />
    </header>
    <!-- Left Sidebar -->
    <aside class="fixed left-0 top-0 z-20 h-screen w-left-sidebar -translate-x-full transform transition-transform duration-300 peer-checked:translate-x-0 md:w-left-sidebar-md md:translate-x-0">
      <SidebarLeft />
    </aside>
    <!-- Right Sidebar -->
    <aside class="hidden xl:block w-64 h-full fixed right-0 top-16">
      <SidebarRight toc={toc} />
    </aside>
    <!-- Content -->
    <!-- Shifts when sidebar opens on mobile -->
    <main
      class="flex flex-col min-h-screen
      pt-header xl:mr-right-sidebar transition-transform duration-300 peer-checked:translate-x-left-sidebar
      md:ml-left-sidebar-md md:translate-x-0">
      <div class="flex-1 w-full max-w-3xl mx-auto">
        <MainContainer>
          <slot />
        </MainContainer>
      </div>
      <Footer />
    </main>
  </body>
</html>

